### Mengimport Seluruh library yang dibutuhkan

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv("filmtv_movies - ENG.csv")

In [3]:
df.head()

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,critics_vote,public_vote,total_votes,description,notes,humor,rhythm,effort,tension,erotism
0,2,Bugs Bunny's Third Movie: 1001 Rabbit Tales,1982,Animation,76,United States,"David Detiege, Art Davis, Bill Perez",NaN,7.7,8.00,7.0,22,"With two protruding front teeth, a slightly sl...","These are many small independent stories, whic...",3,3,0,0,0
1,3,18 anni tra una settimana,1991,Drama,98,Italy,Luigi Perelli,"Kim Rossi Stuart, Simona Cavallari, Ennio Fant...",6.5,6.00,7.0,4,"Samantha, not yet eighteen, leaves the comfort...","Luigi Perelli, the director of the ""Piovra"", o...",0,2,0,2,0
2,17,Ride a Wild Pony,1976,Romantic,91,United States,Don Chaffey,"Michael Craig, John Meillon, Eva Griffith, Gra...",5.6,6.00,5.0,9,"In the Australia of the pioneers, a boy and a ...","""Ecological"" story with a happy ending, not wi...",1,2,1,0,0
3,18,Diner,1982,Comedy,95,United States,Barry Levinson,"Mickey Rourke, Steve Guttenberg, Ellen Barkin,...",7.0,8.00,6.0,18,Five boys from Baltimore have a habit of meeti...,A cast of will be famous for Levinson's direct...,2,2,0,1,2
4,20,A che servono questi quattrini?,1942,Comedy,85,Italy,Esodo Pratelli,"Eduardo De Filippo, Peppino De Filippo, Clelia...",5.9,5.33,7.0,15,"With a stratagem, the penniless and somewhat p...",Taken from the play by Armando Curcio that the...,3,1,1,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40303 entries, 0 to 40302
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   filmtv_id     40303 non-null  int64
 1   title         40303 non-null  object
 2   year          40303 non-null  int64
 3   genre         40208 non-null  object
 4   duration      40303 non-null  int64
 5   country       40292 non-null  object
 6   directors     40270 non-null  object
 7   actors        38251 non-null  object
 8   avg_vote      40303 non-null  float64
 9   critics_vote  35703 non-null  float64
 10  public_vote   39829 non-null  float64
 11  total_votes   40303 non-null  int64
 12  description   38848 non-null  object
 13  notes         18456 non-null  object
 14  humor         40303 non-null  int64
 15  rhythm        40303 non-null  int64
 16  effort        40303 non-null  int64
 17  tension       40303 non-null  int64
 18  erotism       40303 non-null  int64
dtypes: float64(3), int64(9), object(7)
memory usage: 5.8+ MB

### Membagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [5]:
X = df.iloc[:,:-1] # Target
y = df.iloc[:,-1] # Feature

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [7]:
print("Dimensi X_train : ", X_train.shape)
print("Dimensi X_train : ", X_test.shape)
print("Dimensi y_train : ", y_train.shape)
print("Dimensi y_test : ", y_test.shape)

Dimensi X_train :  (28212, 18)
Dimensi X_train :  (12091, 18)
Dimensi y_train :  (28212,)
Dimensi y_test :  (12091,)

### Standarisasi dan Normalisasi

#### Normalisasi

In [8]:
# membuat dummy data
data_dummy = df[['duration', 'avg_vote', 'critics_vote', 'total_votes','public_vote']]

print("Nilai data sebelum scalling : \n", data_dummy.head())
print("\n")
print("Nilai Standar Deviasi : \n", np.std(data_dummy))

Nilai data sebelum scalling :
    duration  avg_vote  critics_vote  total_votes  public_vote
0        76       7.7          8.00           22          7.0
1        98       6.5          6.00            4          7.0
2        91       5.6          6.00            9          5.0
3        95       7.0          8.00           18          6.0
4        85       5.9          5.33           15          7.0


Nilai Standar Deviasi :
 duration        26.682382
avg_vote         1.410244
critics_vote     1.596450
total_votes     68.312286
public_vote      1.486031
dtype: float64

- Membuat scalling data

In [9]:
min_max_scaler = MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(data_dummy)

In [10]:
data_normalization = pd.DataFrame(x_scaled)

In [11]:
print("Nilai data sesudah scalling : \n", data_normalization.head())
print("\n")
print("Nilai standar deviasi : ", np.std(x_scaled))

Nilai data sesudah scalling :
           0         1         2         3         4
0  0.023585  0.744444  0.777778  0.019905  0.666667
1  0.038410  0.611111  0.555556  0.002844  0.666667
2  0.033693  0.511111  0.555556  0.007583  0.444444
3  0.036388  0.666667  0.777778  0.016114  0.555556
4  0.029650  0.544444  0.481111  0.013270  0.666667


Nilai standar deviasi :  nan

#### Standarisasi

In [12]:
dfCopy = df.copy()

In [13]:
ss = StandardScaler()

In [14]:
Scaled_data = ss.fit_transform(dfCopy[["public_vote","critics_vote"]])

In [15]:
print("Nilai sebelum standarisasi ")
print("Standar Deviasi :", np.std(dfCopy[["public_vote","critics_vote"]]))

Nilai sebelum standarisasi
Standar Deviasi : public_vote     1.486031
critics_vote    1.596450
dtype: float64

In [16]:
print("Nilai setelah standarisasi ")
print("Standar Deviasi :", np.std(Scaled_data))

Nilai setelah standarisasi
Standar Deviasi : nan

### Data Cleaning

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40303 entries, 0 to 40302
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   filmtv_id     40303 non-null  int64
 1   title         40303 non-null  object
 2   year          40303 non-null  int64
 3   genre         40208 non-null  object
 4   duration      40303 non-null  int64
 5   country       40292 non-null  object
 6   directors     40270 non-null  object
 7   actors        38251 non-null  object
 8   avg_vote      40303 non-null  float64
 9   critics_vote  35703 non-null  float64
 10  public_vote   39829 non-null  float64
 11  total_votes   40303 non-null  int64
 12  description   38848 non-null  object
 13  notes         18456 non-null  object
 14  humor         40303 non-null  int64
 15  rhythm        40303 non-null  int64
 16  effort        40303 non-null  int64
 17  tension       40303 non-null  int64
 18  erotism       40303 non-null  int64
dtypes: float64(3), int64(9), object(7)
memory usage: 5.8+ MB

#### Nilai Null

In [18]:
#mengecek data null
print("Jumlah record yang memiliki nilai null:")
print(df.isna().sum())

Jumlah record yang memiliki nilai null:
filmtv_id           0
title               0
year                0
genre              95
duration            0
country            11
directors          33
actors           2052
avg_vote            0
critics_vote     4600
public_vote       474
total_votes         0
description      1455
notes           21847
humor               0
rhythm              0
effort              0
tension             0
erotism             0
dtype: int64

In [19]:
imputer_mean = SimpleImputer(strategy = 'mean')
imputer_median = SimpleImputer(strategy = 'median')
imputer_most_frequent = SimpleImputer(strategy = 'most_frequent')

- Mengganti nilai null dengan tipe data float dengan mean

In [20]:
df['critics_vote'] = imputer_mean.fit_transform(df[['critics_vote']])

In [21]:
#mengecek data null
print("Jumlah record yang memiliki nilai null:")
print(df.isna().sum())

Jumlah record yang memiliki nilai null:
filmtv_id           0
title               0
year                0
genre              95
duration            0
country            11
directors          33
actors           2052
avg_vote            0
critics_vote        0
public_vote       474
total_votes         0
description      1455
notes           21847
humor               0
rhythm              0
effort              0
tension             0
erotism             0
dtype: int64

- mengubah type data total vote dari float menjadi int

In [22]:
df["total_votes"] = df["total_votes"].astype("int64")
df

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,critics_vote,public_vote,total_votes,description,notes,humor,rhythm,effort,tension,erotism
0,2,Bugs Bunny's Third Movie: 1001 Rabbit Tales,1982,Animation,76,United States,"David Detiege, Art Davis, Bill Perez",NaN,7.7,8.000000,7.0,22,"With two protruding front teeth, a slightly sl...","These are many small independent stories, whic...",3,3,0,0,0
1,3,18 anni tra una settimana,1991,Drama,98,Italy,Luigi Perelli,"Kim Rossi Stuart, Simona Cavallari, Ennio Fant...",6.5,6.000000,7.0,4,"Samantha, not yet eighteen, leaves the comfort...","Luigi Perelli, the director of the ""Piovra"", o...",0,2,0,2,0
2,17,Ride a Wild Pony,1976,Romantic,91,United States,Don Chaffey,"Michael Craig, John Meillon, Eva Griffith, Gra...",5.6,6.000000,5.0,9,"In the Australia of the pioneers, a boy and a ...","""Ecological"" story with a happy ending, not wi...",1,2,1,0,0
3,18,Diner,1982,Comedy,95,United States,Barry Levinson,"Mickey Rourke, Steve Guttenberg, Ellen Barkin,...",7.0,8.000000,6.0,18,Five boys from Baltimore have a habit of meeti...,A cast of will be famous for Levinson's direct...,2,2,0,1,2
4,20,A che servono questi quattrini?,1942,Comedy,85,Italy,Esodo Pratelli,"Eduardo De Filippo, Peppino De Filippo, Clelia...",5.9,5.330000,7.0,15,"With a stratagem, the penniless and somewhat p...",Taken from the play by Armando Curcio that the...,3,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40298,221040,Louis C.K.: Sorry,2021,Comedy,63,United States,Louis C.K.,Louis C.K.,6.0,5.806719,6.0,1,Show recorded at the Madison Square Garden in ...,NaN,0,0,0,0,0
40299,221041,"Me, Natalie",1969,Comedy,111,United States,Fred Coe,"Patty Duke, James Farentino, Martin Balsam, Al...",8.0,5.806719,8.0,1,"Brooklyn. Natalie Miller (Patty Duke), a girl ...",NaN,0,0,0,0,0
40300,221059,Il nero,1967,Drama,107,Italy,Giovanni Vento,"Joy Nwosu, Alessandra Dal Sasso, Andrea Checch...",6.0,6.000000,NaN,1,"The hopes, the illusions, the daily vicissitud...",NaN,0,0,0,0,0
40301,221061,Operatsiya 'Y' i drugie priklyucheniya Shurika,1965,Comedy,95,Soviet Union,Leonid Gaidai,"Aleksandr Demyanenko, Mikhail Pugovkin, Alekse...",6.0,6.000000,NaN,1,"Three episodes starring the excerpt Shurik, a ...",NaN,0,0,0,0,0
40302,221103,I dimma dold,1953,Thriller,88,Sweden,Lars-Eric Kjellgren,"Eva Henning, Sonja Wigert, Hjördis Petterson, ...",6.0,6.000000,NaN,1,"On an evening of dense fog, director Walter Wi...",NaN,0,3,1,3,0

- Mengganti nilai null dengan tipe data float dengan median

In [23]:
df['total_votes'] = imputer_median.fit_transform(df[['total_votes']])

In [24]:
#mengecek data null
print("Jumlah record yang memiliki nilai null:")
print(df.isna().sum())

Jumlah record yang memiliki nilai null:
filmtv_id           0
title               0
year                0
genre              95
duration            0
country            11
directors          33
actors           2052
avg_vote            0
critics_vote        0
public_vote       474
total_votes         0
description      1455
notes           21847
humor               0
rhythm              0
effort              0
tension             0
erotism             0
dtype: int64

- Mengganti nilai null dengan tipe data object dengan modus

In [25]:
df['genre'] = imputer_most_frequent.fit_transform(df[['genre']])

In [26]:
#mengecek data null
print("Jumlah record yang memiliki nilai null:")
print(df.isna().sum())

Jumlah record yang memiliki nilai null:
filmtv_id           0
title               0
year                0
genre               0
duration            0
country            11
directors          33
actors           2052
avg_vote            0
critics_vote        0
public_vote       474
total_votes         0
description      1455
notes           21847
humor               0
rhythm              0
effort              0
tension             0
erotism             0
dtype: int64

#### Nilai Duplicate

In [27]:
df.duplicated().sum()

0

In [28]:
df = df.append(df.iloc[0:900])
df.duplicated()

C:\Users\USER\AppData\Local\Temp\ipykernel_29524\4115030389.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[0:900])

0      False
1      False
2      False
3      False
4      False
       ...
895     True
896     True
897     True
898     True
899     True
Length: 41203, dtype: bool

In [29]:
df.duplicated().sum()

900

In [30]:
df.drop_duplicates(inplace=True)

In [31]:
df.duplicated().sum()

0

#### Mengganti nilai atrribute

In [32]:
df["critics_vote"] = df["critics_vote"].astype("int64")
df.head()

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,critics_vote,public_vote,total_votes,description,notes,humor,rhythm,effort,tension,erotism
0,2,Bugs Bunny's Third Movie: 1001 Rabbit Tales,1982,Animation,76,United States,"David Detiege, Art Davis, Bill Perez",NaN,7.7,8,7.0,22.0,"With two protruding front teeth, a slightly sl...","These are many small independent stories, whic...",3,3,0,0,0
1,3,18 anni tra una settimana,1991,Drama,98,Italy,Luigi Perelli,"Kim Rossi Stuart, Simona Cavallari, Ennio Fant...",6.5,6,7.0,4.0,"Samantha, not yet eighteen, leaves the comfort...","Luigi Perelli, the director of the ""Piovra"", o...",0,2,0,2,0
2,17,Ride a Wild Pony,1976,Romantic,91,United States,Don Chaffey,"Michael Craig, John Meillon, Eva Griffith, Gra...",5.6,6,5.0,9.0,"In the Australia of the pioneers, a boy and a ...","""Ecological"" story with a happy ending, not wi...",1,2,1,0,0
3,18,Diner,1982,Comedy,95,United States,Barry Levinson,"Mickey Rourke, Steve Guttenberg, Ellen Barkin,...",7.0,8,6.0,18.0,Five boys from Baltimore have a habit of meeti...,A cast of will be famous for Levinson's direct...,2,2,0,1,2
4,20,A che servono questi quattrini?,1942,Comedy,85,Italy,Esodo Pratelli,"Eduardo De Filippo, Peppino De Filippo, Clelia...",5.9,5,7.0,15.0,"With a stratagem, the penniless and somewhat p...",Taken from the play by Armando Curcio that the...,3,1,1,0,0

### One Hot Encoding

In [33]:
one_hot_encoder = OneHotEncoder(sparse_output=False)

In [34]:
df_encoding = one_hot_encoder.fit_transform(df[['genre']])
df_encoding = pd.DataFrame(df_encoding)
df.head()

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,critics_vote,public_vote,total_votes,description,notes,humor,rhythm,effort,tension,erotism
0,2,Bugs Bunny's Third Movie: 1001 Rabbit Tales,1982,Animation,76,United States,"David Detiege, Art Davis, Bill Perez",NaN,7.7,8,7.0,22.0,"With two protruding front teeth, a slightly sl...","These are many small independent stories, whic...",3,3,0,0,0
1,3,18 anni tra una settimana,1991,Drama,98,Italy,Luigi Perelli,"Kim Rossi Stuart, Simona Cavallari, Ennio Fant...",6.5,6,7.0,4.0,"Samantha, not yet eighteen, leaves the comfort...","Luigi Perelli, the director of the ""Piovra"", o...",0,2,0,2,0
2,17,Ride a Wild Pony,1976,Romantic,91,United States,Don Chaffey,"Michael Craig, John Meillon, Eva Griffith, Gra...",5.6,6,5.0,9.0,"In the Australia of the pioneers, a boy and a ...","""Ecological"" story with a happy ending, not wi...",1,2,1,0,0
3,18,Diner,1982,Comedy,95,United States,Barry Levinson,"Mickey Rourke, Steve Guttenberg, Ellen Barkin,...",7.0,8,6.0,18.0,Five boys from Baltimore have a habit of meeti...,A cast of will be famous for Levinson's direct...,2,2,0,1,2
4,20,A che servono questi quattrini?,1942,Comedy,85,Italy,Esodo Pratelli,"Eduardo De Filippo, Peppino De Filippo, Clelia...",5.9,5,7.0,15.0,"With a stratagem, the penniless and somewhat p...",Taken from the play by Armando Curcio that the...,3,1,1,0,0